$color-background: #222;
$color-icon: #1eed25e3;

body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-background;
}

.loading {

    .loading-square {
        fill: $color-icon;
        &:not(:first-child) {
            opacity: 0;
            animation: move 1s infinite;
            animation-delay: 0s;
            &:nth-child(2n+1) {
                animation-delay: 0.35s;
            }
            @keyframes move {
                0% { opacity: 0; }
                12% { opacity: 0.25; }
                25% { opacity: 0.5; }
                37% { opacity: 0.75; }
                50% { opacity: 1; }
                63% {opacity: 0.75; }
                75% { opacity: 0.5; }
                88% { opacity: 0.25; }
                100% { opacity: 0; }
            }
        }
    }  
}